<!DOCTYPE html>
<html>
<title>Winco Template</title>
<link rel="shortcut icon" href="{{url_for('static',filename='image/winco_logo.jpg')}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://www.w3schools.com/lib/w3data.js"></script>
  <script src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

  <script text='javascript' src="{{url_for('static',filename='js/web_app.js')}}"></script>
  
</head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/w3images/parallax1.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/w3images/parallax2.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/w3images/parallax3.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="/#heat_map" class="w3-bar-item w3-button">HEAT MAP</a>
    <a href="/#shortest_path" class="w3-bar-item w3-button">SHORTEST PATH</a>
  </div>

 <div class="w3-bar w3-white" id="myNavbar">
 <img style="max-width:120px; margin-top: -7px;" src="{{url_for('static',filename='image/winco_logo.jpg')}}" class="w3-bar-item">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
  
    <a href="/#heat_map" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-gear"></i> HEAT MAP</a>
    <a href="/#shortest_path" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> SHORTEST PATH</a>
  </div>

</div>

<div class="w3-content w3-container w3-padding-64" >
{%block body%}  {%endblock%}
</div>