<!DOCTYPE html>
<html>
<title>Winco Template</title>
<link rel="shortcut icon" href="{{url_for('static',filename='image/winco_logo.jpg')}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://www.w3schools.com/lib/w3data.js"></script>
  <script src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

  <script text='javascript' src="{{url_for('static',filename='js/web_app.js')}}"></script>

</head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#heat_map" class="w3-bar-item w3-button">HEAT MAP</a>
    <a href="#shortest_path" class="w3-bar-item w3-button">SHORTEST PATH</a>
  </div>

 <div class="w3-bar w3-white" id="myNavbar">
    <img style="max-width:120px; margin-top: -7px;" src="{{url_for('static',filename='image/winco_logo.jpg')}}" class="w3-bar-item">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
  
    <a href="#heat_map" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-gear"></i> HEAT MAP</a>
    <a href="#shortest_path" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> SHORTEST PATH</a>
  </div>

</div>

<!-- Container (Heat Map Section) -->
<div class="w3-content w3-container w3-padding-64 w3-section" id="heat_map">
  <h3 class="w3-center">HEAT MAP</h3>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b>Start Date: <input class="datepicker" type="text" name="map_start_date"></b></p><br>
    </div>
    <div class="w3-col m6 offset6 w3-center w3-padding-large">
      <p><b>End Date: <input class="datepicker" type="text" name="map_end_date"></b></p><br>
    </div>
    <div class="w3-center w3-padding-large">
      <button class="w3-button w3-light-grey" id="update_view">Update View</button> 
    </div>
    <div>
      <img style="width: 85%; " src="{{url_for('static',filename='image/heat_map.png')}}" class="w3-image w3-center" id="heat_map_image">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
    </div>

    <div class="w3-col m12 heat_map">
      <div w3-include-html="heat_map.htm"></div>
    </div>
  </div>
  
</div>

<!-- Container (Shortest Path Section) -->
<div style="display:none" class="w3-content w3-container w3-padding-64 w3-section" id="shortest_path">
  <h3 class="w3-center">SHORTEST PATH</h3>
  <div class="w3-col m6 w3-center w3-padding-large">
    <p><b>Order Date Start: <input class="datepicker" type="text" name="order_start_date"></b></p><br>
  </div>
  <div class="w3-col m6 offset6 w3-center w3-padding-large">
    <p><b>Order Date End: <input class="datepicker" type="text" name="order_end_date"></b></p><br>
  </div>
  <div class="w3-center w3-padding-large">
    <button class="w3-button w3-light-grey" id="load_order">Load Order</button>
  </div>

  <div class="w3-center" id="order_table_container">
    <table class="datatable" id="order_table">
      <thead>
        <tr>
          <th>Order Id</th>
          <th> Order Date</th>
          <th> Required Date</th>
        </tr>
      </thead>
      <tbody>
        {% for key,items in dic.items(): %}
        <tr>
        <td><a href="/order/{{key}}" target="_blank"><center>{{key}}</center></a></td>
        <td><center>{{items[0]}}</center></td>
        <td><center>{{items[1]}}</center></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
</body>
</html>