{%extends "header.html"%}

{%block body%}
<div class="w3-center">
  <center><table class="simple_datatable" id="path_table">
    <h3 class="w3-center"> Order ID: {{ order_id }}</h3>
    <thead>
      <tr>
        <th>Picking Zone</th>
        <th>Rack Location</th>
        <th>Item Id</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for items in shortest_path: %}
      <tr>
        <td><center>{{items["picking_zone"]}}</center></td>
        <td><center>{{items["rack_location"]}}</center></td>
        <td><center>{{items["item_id"]}}</center></td>
        <td><center>{{items["quantity"]}}</center></td>
      </tr>
      {% endfor %}
    </tbody>
  </table></center>
</div>
{%endblock%}
